h1 {
	font-size: 2.1em;
	text-align: center;
}

p {
	font-size: 1.6em;
	text-align: justify;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid navy;
  border-radius: 5px;
}

/*body {
	background-color: lightgray;
}*/
