.gcolor {
	color: green;
}

.ocolor {
	color: orange;
}

.bcolor {
	color: blue;
}

.wcolor {
	color: white;
}

.ycolor {
	color: yellow;
}

.letterpmarker {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

.lettercourgette {
	font-family: 'Courgette', cursive;
	text-align: justify;
}

.letterlobster {
	font-family: 'Lobster', cursive;
	text-align: center;
}

.doublef {
	font-size: 2em;
}

.triplef {
	font-size: 3em;
}

.footwalt {
	color: lightskyblue;
	font-family: 'WaltographRegular', cursive;
	text-align: center;
	font-size: 2em;
}

.imagesize {
	height: 175px;
	width: 175px;
}

.gallery {
	display: inline-block;
}

.atcenter {
	text-align: center;
}

.firstcap {
	text-transform: capitalize;
}

.box1 {
	height: 75vh;
}


.bordesFrame {
	border-radius: 10px;
	border: 5px solid lightskyblue;
	height: 100%;
}

.card {
	background-color: rgba(245, 245, 245, 0.9);
}

.xycenter {
	/*min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	/*min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	/*flex-direction: column;*/
	align-items: stretch;
	/*align-content: center;*/
	justify-content: center;
	flex-wrap: wrap;
}

input[type=text] {
    color: blue;
    text-transform: capitalize;
}

body {
	background-image: url("../images/basilica2.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-color: lightblue;
}

body h1 {
	color: yellow;
	font-family: 'WaltographRegular', cursive;
	text-align: center;
	font-size: 3em;
}

body h2 {
	color: white;
	font-family: 'WaltographRegular', cursive;
	text-align: center;
	font-size: 4em;
}
