h1 {
	font-size: 2.1em;
	text-align: center;
	font-weight: bold;
}

p {
	font-size: 1.6em;
	text-align: justify;
	margin: 0.6em;
}

/* Rounded border - Divider */
hr {
  border-top: 8px solid darkseagreen;
  border-radius: 5px;
}

.SegundoCoro {
	color: navy;
	font-weight: bold;
}

p.AlignC {
	text-align: center;
}


/*body {
	background-color: lightgray;
}*/
